.timer-container {
  height: 330px;
  width: 330px;
  border-radius: 50%;
  background-color: #161932;
  background-image: linear-gradient(to bottom right, #383b58, #7e7e88);
  justify-self: center;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-timer {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #161932;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to left, salmon 50%, lightblue 50%) right;
  background-size: 200%;
  transition: 8s ease-out;
}

.display-timer:hover {
  background-position: left;
}

.current-time {
  font-size: 6em;
  padding: 0;
  margin: 0;
}

.pause-timer {
  background-color: transparent;
  border: none;
  font-size: 1em;
  letter-spacing: 10px;
  font-weight: 700;
  cursor: pointer;
}
