/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  background-color: transparent;
  border-color: transparent;
}

.timer-settings-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.change-timer-type-text {
  margin: 0;
  align-self: center;
}
.input-settings-container {
  display: flex;
  flex-direction: column;
}
.change-timer-length {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .input-settings-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .change-timer-length {
    flex-direction: column;
  }
}
